<h2>mago-talk</h2>


<form action='/' method='POST'>
<input type='text' name='name'>
<input type='submit' value='送信'>
</form>

<div class="balloon"><br/>
<%= @body["utt"] %>
</div>
<br/>
<img src="logo.png" width="400px" />
<br/><br/>