<!DOCTYPE html>
<html lang="ja">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="mago-talk/styles.css" />
    <meta charset="utf-8">
    <title><%= @title %></title>
</head>
<body>
	<div id="wrapper">


    <%= yield %>
    </div>
</body>
</html>
