.balloon {
  position: relative;
  width: 400px;
  height: 50px;
  background-color: #ccc;
  text-align: center;
  font-size: x-large;
  font-family: Meiryo;
}
.balloon:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}


#body {  
#    text-align: center;  
#}

div#wrapper {  
    width: 400px;
    margin: 0 auto;  
#    text-align: left;  
#    border: 1px solid #FF0000;  
}  

